.title{
    text-align: center;
    font-family: "montseratt", sans-serif;
    font-size: 5em;
    padding:0.5em;
    color: #575757;
}

.sub-title{
    text-align: center;
    font-family: "montseratt", sans-serif;
    font-size: 1.5em;
    color:#575757;
}